<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photochangerecord">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.gif.GifActivity"></activity>
        <activity android:name=".ui.camera.CameraResultActivity"></activity>
        <activity android:name=".ui.splash.SplashActivity">

        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.list.ListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.camera.CameraPermissionActivity" />
        <activity android:name=".ui.splash.StoragePermissionActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.camera.CameraActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>