<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uyttyu7532.photolapse">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.uyttyu7532.photolapse.utils.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.uyttyu7532.photolapse.ui.gif.GifActivity"/>
        <activity
            android:name="com.uyttyu7532.photolapse.ui.camera.CameraResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.uyttyu7532.photolapse.ui.splash.SplashActivity"/>
        <activity android:name="com.uyttyu7532.photolapse.ui.splash.IconSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.uyttyu7532.photolapse.ui.detail.DetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.uyttyu7532.photolapse.ui.list.ListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.uyttyu7532.photolapse.ui.gallery.GalleryActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.uyttyu7532.photolapse.ui.camera.CameraPermissionActivity" />
        <activity android:name="com.uyttyu7532.photolapse.ui.splash.StoragePermissionActivity">
        </activity>
        <activity
            android:name="com.uyttyu7532.photolapse.ui.camera.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>